body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin:0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
html{
  margin:0;
  padding:0;
  background-color: #ffffff;
  scroll-behavior: smooth;
}
.header{
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  background-color: #ffffff;
  /* box-shadow:0 3px 10px rgb(0 0 0 / 0.9); */
}
.home{
  display:flex;
  justify-content: center;
  align-items: center;
}

.converter{
  max-width:80%;
  background-color:#F8E2DD;
  margin-top: 6px;
  margin-bottom: 2px;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  padding: 5px 15px 5px 15px;
  border-radius: 10px;
  box-shadow:0 3px 10px rgb(0 0 0 / 0.9);
}
.primary{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0 10px 0;
  padding:4px 4px 10px 4px;
}
.row-2{
  margin-left:0;
}
.convert-btn{
  margin:15px 0 10px 0;
  display: flex;
  padding:10px;
  font-size: large;
  font-weight: bold;
  border-radius: 10px;
  border-style: none;
  color:#9A0680;
  background-color: #34BE82;
  box-shadow:0 3px 10px rgb(0 0 0 / 0.9);
}
.convert-btn:hover{
  color:#FFD07F;
  background-color:#AE431E;
}
.social{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top:-120px;
}
.slt{
  width:200px;
  height:26px;
  margin-top: 15px;
  margin-bottom:15px;
  margin-right :10px;
  border-radius: 5px;
  border-style: none;
  font-size: large;
}

.currency-option{
  margin-top: 30px;
  height:30px;
  border-radius: 5px;
  border-style: none;
  font-size: large;
  display:flex;
  align-items: center;
  justify-content: center;
}
.currency-option2{
  margin-top: 30px;
  height:30px;
  border-radius: 5px;
  border-style: none;
  font-size: large;
}
.icons{
  margin:140px 10px 5px 10px;
  cursor:pointer;
}
.footer{
  display:flex;
  justify-content:center;
  align-items: baseline;
  
}
@media only screen and (max-width:720px){
  .converter{
    max-width:100%;
    margin-top:10px;
  }
  .header{
    display:flex;
    justify-content:center;
    align-items:center;
  }
  .title{
    display:flex;
    justify-content:center;
    align-items:center;
    text-shadow:0 3px 10px (rgb(108, 143, 156/0.9) );
  }
  .social{
    margin-top:60px;
  }
  .news-feed{
    display:none;
  }
  .news-feed-2{
    display:none;
  }
  .header{
    margin:0 15px 10px 15px;
  }

  .curncy{
    display:none;
  }
  .slt{
    width:200px;
    height:26px;
    margin-bottom:15px;
    margin-right :10px;
    border-radius: 5px;
    border-style: none;
    font-size: large;
  }
  
.currency-option{
    height:28px;
    margin-top:15px;
    border-radius: 5px;
    border-style: none;
    font-size: large;
  }
  .currency-option2{
    height:28px;
    margin-top:15px;
    border-radius: 5px;
    border-style: none;
    font-size: large;
  }
  .icons{
    margin:-50px 10px 5px 10px;
    cursor:pointer;
  }
  
}
